{% set basePath = url('homepage') | replace({'app_dev.php/':''}) %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% if (page_title is defined) and ('' != page_title) %}
            {{ page_title ~ ' - ' }}
        {% endif %}
        Velovito
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('foundation/css/foundation.css') }}">
    {% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter38439940 = new Ya.Metrika({
                        id: 38439940,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/38439940" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>

<div class="container">
    <div class="col-md-12">
        {{ render(controller('VelovitoBundle:Default:header')) }}
    </div>

    <div class="col-md-2">
        {{ render(controller('VelovitoBundle:Default:menu')) }}
    </div>

    <div class="col-md-10">
        {% block body %}        {% endblock %}
    </div>
</div>
{% block js %}
    <script src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('foundation/js/vendor/foundation.js') }}"></script>
    <script src="{{ asset('foundation/js/app.js') }}"></script>
    {#<script src="{{ asset('js/jquery.validate.min.js') }}"></script>#}
    {#<script src="{{ asset('js/jquery-ui.js') }}"></script>#}
    <script src="{{ asset('js/common.js') }}"></script>
    <script src="{{ asset('js/spinner.js') }}"></script>
{% endblock %}
</body>
</html>
