<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% if (page_title is defined) and ('' != page_title) %}
            {{ page_title ~ ' - ' }}
        {% endif %}
        Velovito
    </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block js %}
        <script src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
    {% endblock %}
</head>

<hr>
<body>
{#{{ render(controller('VelovitoBundle:Default:header')) }}#}
{{ render(controller('VelovitoBundle:Default:menu')) }}

{% block body %}

{% endblock %}

</body>
</html>
