<head>
    <title>
        {% if (page_title is defined) and ('' != page_title) %}
            {{ page_title ~ ' - ' }}
        {% endif %}
        Velovito
    </title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/velovito/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/velovito/css/callouts.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap-select/css/bootstrap-select.min.css') }}"/>

    {% block js %}
        <script src="{{ asset('vendor/angular/angular.js') }}"></script>
        <script src="{{ asset('vendor/angular/angular-route.js') }}"></script>
        <script src="{{ asset('vendor/jquery/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>

        <script src="{{ asset('bundles/velovito/js/spinner.js') }}"></script>
        <script src="{{ asset('bundles/velovito/js/common.js') }}"></script>
        <script src="{{ asset('bundles/velovito/js/common-ui.js') }}"></script>
        <script src="{{ asset('bundles/velovito/js/vk_api.js') }}"></script>
    {% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter38439940 = new Ya.Metrika({
                        id: 38439940,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/38439940" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>
