<div class="row">
    <ul class="services col-xs-12">
        <li class="item">
            <a href="{{ url('homepage') }}">Объявления</a>
        </li>

        <li class="item">
            <a href="{{ url('velovito') }}">Помощь</a>
        </li>

        <li class="item dropdown pull-right ">

            {% if app.user %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                    Личный кабинет ({{ app.user.getUserName() }})
                </a>
            {% else %}
                <a href="{{ url('login') }}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    Вход и регистрация
                </a>
            {% endif %}


            <ul class="dropdown-menu">
                {% if not app.user %}
                    <li><a href="{{ url('login') }}">Войти</a></li>
                    <li><a href="{{ url('registration') }}">Регистрация</a></li>
                    <li role="separator" class="divider"></li>
                {% endif %}

                <li><a href="{{ url('my_ads') }}">Мои объявления</a></li>
                <li><a href="{{ url('settings') }}">Мой профиль</a></li>
                <li><a href="{{ url('favorites') }}">Закладки</a></li>

                {% if app.user %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url('logout') }}">Выход</a></li>
                {% endif %}

            </ul>
        </li>
    </ul>
</div>