{% extends 'VelovitoBundle::base.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}
{% block body %}
    {% include '@Velovito/templates/alert.html.twig' %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ url('advert_edit_main', {'advertId': advert.getId()}) }}">Основная информация</a></li>
        <li><a href="{{ url('advert_edit_details', {'advertId': advert.getId()}) }}">Характеристики</a></li>
    </ul>

    <div id="main_info">
        {{ form_start(mainForm) }}
        <div class="col-md-4">
            {{ macro.bootstrapFormInput(mainForm.title) }}
            {{ macro.bootstrapFormInput(mainForm.product) }}
            {{ macro.bootstrapFormInput(mainForm.price) }}
            {{ macro.bootstrapFormInput(mainForm.currency) }}
            {{ macro.bootstrapFormInput(mainForm.photo) }}
        </div>

        <div class="col-md-6">
            <div style="margin-bottom: 20px;">
                {% if advert.getPhoto is null %}
                    <img src="{{ 0 | noPhoto(400,400) }}" class="gray-border" title="{{ advert.getTitle() }}">
                {% else %}
                    <img src="{{ advert.getPhoto.getFileName() | getUserPhoto(400,400) }}" class="gray-border" title="{{ advert.getTitle() }}">
                {% endif %}
            </div>

            {{ macro.bootstrapFormInput(mainForm.description) }}
            {{ form_rest(mainForm) }}
        </div>

        {{ form_widget(mainForm.submit) }}
        {{ form_end(mainForm) }}
    </div>

    <script>
        var spinner = new Spinner(dockerSpinnerSettings).spin($('#promo_spin')[0]);
        var tmpImagePath = '{{ app.request.getSchemeAndHttpHost() }}/img/temporary_thumbs/';
        var _ajaxImageUploadForm = $("#photo");
        var _ajaxImageUploadInput = $('#upload_photo_form_photo');
        var _rootUploadingImage = $('#root_uploading_image');

        _ajaxImageUploadInput.change(ajaxUploadFile);

        function ajaxUploadFile() {
            var element = createUploadingImageBlock();

            element.find('.glyphicon-remove').on('click', function () {
                element.remove();
            });

            ajaxPostForm(
                    _ajaxImageUploadForm,
                    onBeforeSubmit,
                    function (responseText, statusText, xhr) {
                        onSuccessUpload(element, responseText, xhr)
                    }
            );
        }

        function onSuccessUpload(element, responseText, xhr) {
            element.find('.promo__spin').hide();

            switch (xhr.status) {
                case 200:
                    element.find('img').attr('src', tmpImagePath + responseText);
                    element.find('input').attr('value', responseText);
                    break;

                default :
                    console.log(xhr);
            }
        }

        function createUploadingImageBlock() {
            var element = duplicateElement(_rootUploadingImage);
            element.removeAttr('id');
            element.find('input').removeAttr('disabled');
            element.show('fast');

            return element;
        }

        function ajaxPostForm(form, beforeSubmit, success) {
            form.ajaxSubmit({
                url: '{{ url('ajax_upload_photo') }}',
                type: 'post',
                beforeSubmit: beforeSubmit,
                success: success
            });
        }

        function onBeforeSubmit(formData, jqForm, options) {
            var queryString = $.param(formData);
//            console.log('About to submit: \n\n' + queryString);

            return true;
        }
    </script>
{% endblock %}