{% extends 'VelovitoBundle::base.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    <div>
        <h1>{{ advert.getTitle() }}</h1>
        <a href="{{ url('view_category',{id: advert.ProductCategory.id}) }}">{{ advert.ProductCategory.Name }}</a> ->
        <a href="{{ url('adverts_search',{id: advert.Product.id }) }}">{{ advert.Product.Name }}</a>
    </div>

    <div>
        <div style="margin-bottom: 20px;">
            {% if advert.getPhoto is null %}
                <img src="{{ 0 | noPhoto(500,500) }}" class="gray-border" title="{{ advert.getTitle() }}">
            {% else %}
                <img src="{{ advert.getPhoto.getFileName() | getUserPhoto(500,500) }}" class="gray-border" title="{{ advert.getTitle() }}">
            {% endif %}
        </div>

        {#{% for photo in advert.getPhotos() %}#}
            {#<img src="{{ photo.getFileName() | resize(150,150) }}" class="gray-border" title="{{ advert.getTitle() }}">#}
        {#{% endfor %}#}
    </div>

    <div>
        <h3> {{ advert.getPrice() }} {{ advert.getCurrencyName() }}</h3>
    </div>

    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <div>{{ advert.getUser().getUserName() }}</div>

    <article>{{ advert.getDescription() }}</article>
{% endblock %}