{% extends '@Velovito/layout_blank.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ url('view_category',{id: advert.category.id}) }}">{{ advert.category.Name }}</a></li>
        <li><a href="{{ url('adverts_search',{id: advert.Product.id }) }}">{{ advert.Product.Name }}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            <h4>{{ advert.getTitle() }}</h4>

            {% if advert.getPhoto is null %}
                <img src="{{ null | getUserPhoto(400,400) }}" class="gray-border" title="{{ advert.getTitle() }}">
            {% else %}
                <img src="{{ advert.getPhoto.getFileName() | getUserPhoto(400,400) }}" class="gray-border"
                     title="{{ advert.getTitle() }}">
            {% endif %}
        </div>

        <div class="col-md-6">
            <h4>Характеристики</h4>

            <table class="table-bordered table-condensed" style="width: 100%;">
                {% for key, val in attributes %}
                   <tr>
                      <td>{{ key }}</td>
                       <td>{{ val }}</td>
                   </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3> {{ advert.getPrice() }} {{ advert.getCurrencyName() }}
                <small>
                    Продавец: <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <a href="{{ url('view_user_profile',{id: advert.user.id}) }}">{{ advert.user.userName }}</a>
                </small>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div><h4>Описание</h4></div>
            {{ advert.getDescription() }}
        </div>
    </div>
{% endblock %}