<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    {% block javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <a href="{{ url('homepage') }}">Homepage</a>
    <a href="{{ url('ad_new') }}">Add new</a>
    <a href="{{ url('ad_list') }}">List</a>
</head>

<hr>
<body>

{% block body %}
{% endblock %}

</body>
</html>
