{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert(advert) %}
    <div class="advert">
        <div class="title">
            <a href="#"><h1>{{ advert.getTitle() }}</h1></a>
        </div>

        <div class="price">
            {{ advert.getPrice() }}
        </div>
    </div>
{% endmacro %}


