{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormSubmit(form) %}
    <div style="margin: 10px;">
        {{ form_widget(form, {'attr':{'class' : 'btn-primary form-control' }}) }}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert(advert, showMenu = false) %}
    {% set originalsDir = app.request.getSchemeAndHttpHost() ~ '/img/originals/' %}

    <div class="advert">
        <div class="photo">

            {% if advert.getPhoto is null %}
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">
                    <img src="{{ 0|noPhoto(128,128) }}" alt="Image" width="150" height="150">
                </a>
            {% else %}
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">
                    <img src="{{ advert.getPhoto.getFileName() | getUserPhoto(128,128) }}" alt="Image">
                </a>

            {% endif %}
        </div>

        <div class="info">
            <div class="title">
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">{{ advert.getTitle() }}</a>
            </div>

            <div class="status">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {{ advert.getIsPublished() ? 'Опубликовано' : 'Снято с публикации' }}<br>
            </div>

            <div class="price">
                {{ advert.getPrice() }} {{ advert.getCurrencyName }}
            </div>

            <div class="description">
                {% if  (advert.getDescription() | length) > 100 %}
                    {{ advert.getDescription() | slice(0, 100) ~ '...' }}
                {% else %}
                    {{ advert.getDescription() }}
                {% endif %}
            </div>

            <div class="menu">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ advert.getCreationDate() | days_ago }}  &nbsp;

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                {{ advert.getViewsCount() |number_format }} &nbsp;

                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ advert.getUser().getUserName() }} &nbsp;
                <a href="{{ url('view_category', {id: advert.ProductCategory.id }) }}">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    {{ advert.Product.Name }}
                </a>

                {% if app.user and showMenu %}|

                    <a href="{{ url('advert_edit', {'advertId': advert.getId()}) }}">Редактировать</a>|
                    <a href="{{ url('advert_unpublish', {'advertId': advert.getId()}) }}">Снять с публикации</a>|
                    {#<a href="{{ url('ad_delete', {'advertId': advert.getId()}) }}">Удалить</a>#}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


