{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert() %}
    <div class="advert">
        <h1>Advert</h1>
    </div>
{% endmacro %}


