{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormSubmit(form) %}
    <div style="margin: 10px;">
        {{ form_widget(form, {'attr':{'class' : 'btn-primary form-control' }}) }}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert_old(advert, showMenu = false) %}
    {% set originalsDir = app.request.getSchemeAndHttpHost() ~ '/img/originals/' %}

    <div class="advert">
        <div class="photo">
            {% if advert.getPhoto is null %}
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">
                    <img src="{{ 0|noPhoto(128,128) }}" alt="Image" width="150" height="150">
                </a>
            {% else %}
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">
                    <img src="{{ advert.getPhoto.getFileName() | getUserPhoto(128,128) }}" alt="Image">
                </a>
            {% endif %}
        </div>

        <div class="info">
            <div class="title">
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">{{ advert.getTitle() }}</a>
            </div>

            <div class="status">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {{ advert.getIsPublished() ? 'Опубликовано' : 'Снято с публикации' }}<br>
            </div>

            <div class="price">
                {{ advert.getPrice() }} {{ advert.getCurrencyName }}
            </div>

            <div class="description">
                {% if  (advert.getDescription() | length) > 100 %}
                    {{ advert.getDescription() | slice(0, 100) ~ '...' }}
                {% else %}
                    {{ advert.getDescription() }}
                {% endif %}
            </div>

            <div class="menu">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ advert.getCreationDate() | days_ago }} &nbsp;

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                {{ advert.getViewsCount() |number_format }} &nbsp;

                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <a href="{{ url('view_user_profile',{id: advert.user.id}) }}">{{ advert.user.userName }}</a>

                <a href="{{ url('adverts_search', {id: advert.Product.id }) }}">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    {{ advert.Product.Name }}
                </a>

                {% if app.user and showMenu %}|

                    <a href="{{ url('advert_edit_main', {'advertId': advert.getId()}) }}">Редактировать</a>|
                    <a href="{{ url('advert_unpublish', {'advertId': advert.getId()}) }}">Снять с публикации</a>|
                    {#<a href="{{ url('ad_delete', {'advertId': advert.getId()}) }}">Удалить</a>#}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro advert_old(advert, showMenu = false) %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

            {% set userPhotoName = advert.getPhoto is empty ? null : advert.getPhoto.getFileName() %}
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url('adverts_search', {id: advert.Product.id }) }}">{{ advert.Product.category.Name }}</a>
                </li>
                <li><a href="{{ url('adverts_search', {id: advert.Product.id }) }}">{{ advert.Product.Name }}</a></li>
            </ol>

            <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">
                <img src="{{ userPhotoName | getUserPhoto(242,200) }}" alt="{{ advert.title }}">
            </a>

            <div class="caption">
                <h3>{{ advert.title | slice(0, 20) }}</h3>

                <div>
                    {{ advert.getPrice() }} {{ advert.getCurrencyName }}
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                        <a href="{{ url('view_user_profile',{id: advert.user.id}) }}">{{ advert.user.userName }}</a>
                    </span>
                </div>


                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ advert.getCreationDate() | days_ago }} &nbsp;
                <span class="pull-right">

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    {{ advert.getViewsCount() |number_format }} &nbsp;
                </span>

                <p>{{ advert.description | slice(0, 50) ~ '...' }}</p>

            </div>
        </div>
    </div>
{% endmacro %}

{% macro advert(advert, showMenu = false) %}
    {% set userPhotoName = advert.getPhoto is empty ? null : advert.getPhoto.getFileName() %}

    <div class="row advert-list-item">
        <div class="col-md-2 col-xs-4" href="#">
            <img src="{{ userPhotoName | getUserPhoto(150,150) }}" alt="{{ advert.title }}" class="img-thumbnail advert-photo">

        </div>

        <div class="col-md-7 col-xs-4 v-advert-info">
            <div class="clip">
                <a class="title" href="#">Dapibus ac facilisis in</a>
            </div>

            <div class="clip">
                <span class="description text-gray" href="#">Dapibus ac facilisis in Vestibulum at erosDapibus ac facilisis in Vestibulum at erosDapibus ac facilisis in Vestibulum at eros</span>
            </div>

            <div>

            </div>

        </div>

        <div class="col-md-3 col-xs-4 v-advert-info">
            <span class="price one-half-rem">13 990 руб.</span>
        </div>
    </div>
{% endmacro %}
