{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormSubmit(form) %}
    <div style="margin: 10px;">
    {{ form_widget(form, {'attr':{'class' : 'btn-primary form-control' }}) }}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert(advert, showMenu = false) %}
    {% set originalsDir = app.request.getSchemeAndHttpHost() ~ '/img/originals/' %}

    <div class="advert">
        <div class="photo">
            {% set c = 0 %}
            {% for photo in advert.getPhotos() %}
                {% if c == 0 %}
                    <img src="{{ photo.getFileName() | resize(128,128) }}" alt="Image">
                {% endif %}

                {% set c = 1 %}
            {% endfor %}
        </div>

        <div class="info">
            <div class="title">
                <a href="{{ url('advert_view', {'advertId': advert.getId()}) }}">{{ advert.getTitle() }}</a>
                &nbsp;

            </div>

            <div class="status">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {{ advert.getStatus().getName() }}
            </div>

            <div class="price">
                {{ advert.getPrice() }} {{ advert.getCurrency().getShortName() }}
            </div>

            <div class="description">
                {% if  (advert.getDescription() | length) > 100 %}
                    {{ advert.getDescription() | slice(0, 100) ~ '...' }}
                {% else %}
                    {{ advert.getDescription() }}
                {% endif %}
            </div>

            <div class="menu"> &nbsp;
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                {{ advert.getUser().getUserName() }} &nbsp;

                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                {{ advert.getViewsCount() |number_format }} &nbsp;

                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ advert.getCreationDate() | days_ago }}

                {% if app.user and showMenu %}|

                    <a href="{{ url('advert_edit', {'advertId': advert.getId()}) }}">Редактировать</a>|
                    <a href="{{ url('advert_unpublish', {'advertId': advert.getId()}) }}">Снять с публикации</a>|
                    {#<a href="{{ url('ad_delete', {'advertId': advert.getId()}) }}">Удалить</a>#}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


