{% macro bootstrapFormInput(form) %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro bootstrapFormInputNoLabel(form) %}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form) }}
        {#<span class="glyphicon glyphicon-remove form-control-feedback"></span>#}
    </div>
{% endmacro %}

{% macro advert(advert) %}
    <div class="advert">
        <div class="photo">
            <img src="" alt="Image" height="100" width="100">
        </div>

        <div class="info">
            <div class="title">
                <a href="#">{{ advert.getTitle() }}</a> {{ advert.getPrice() }} {{ advert.getCurrency().getShortName() }}
            </div>

            <div class="description">
                {{ advert.getDescription | slice(0, 150) ~ '...' }}
            </div>

            <div class="price">

            </div>

            <div class="menu">
                <a href="{{ url('ad_edit', {'adId': advert.getId()}) }}">Редактировать</a>|
                <a href="{{ url('ad_unpublish', {'adId': advert.getId()}) }}">Снять с публикации</a>|
                <a href="{{ url('ad_delete', {'adId': advert.getId()}) }}">Удалить</a>
            </div>
        </div>
    </div>
{% endmacro %}


