<div style="float: right;  display: inline-block;">
    {% if app.user %}
        {{ app.user.getUsername() }} | <a href="{{ url('logout') }}">Выход</a><br>
        <a href="{{ url('my_ads') }}">Профиль</a><br>
        <a href="{{ url('advert_new') }}">Добавить объявление</a>
    {% else %}
        <a href="{{ url('login') }}">Вход</a>
        <a href="{{ url('registration') }}">Регистрация</a>
    {% endif %}
</div>


<div style="float: left; display: inline-block;">
    <a href="{{ url('homepage') }}">
        <h1>VeloVito</h1>
    </a>
</div>