{{ include('@Velovito/loft.html.twig') }}

<div class="col-xs-3 dropdown hidden-xs">
    <button type="button" class="col-xs-12 btn btn-default btn-md catalog-menu-button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="">Каталог</span>
    </button>

    <div class="list-group dropdown-menu unbound-list-group catalog-menu">
        {% for category in categories %}
            <a href="#" class="list-group-item unclickable-dropdown-item" data-label-for="menu_{{ category.id }}">
                {{ category.name }}
            </a>

            {% if category.products is not empty %}
                <div class="list-group catalog-submenu unbound-list-group display-none" id="menu_{{ category.id }}">
                    <a href="{{ url('view_category', {'id': category.id}) }}" class="list-group-item">Перейти в
                        раздел {{ category.name }}</a>

                    {% for product in category.products %}
                        <a href="{{ url('view_category', {'id': category.id}) }}"
                           class="list-group-item">{{ product.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">

        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Поиск!</button>
        </span>
    </div>
</div>

<div class="col-lg-3">
    <a href="{{ url('advert_new') }}" class="col-xs-12 btn btn-default btn-md">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="">Добавить объявление</span>
    </a>
</div>
