<ul class="services col-md-12">
    <li class="item">
        <a href="{{ url('homepage') }}">Объявления</a>
    </li>

    <li class="item">
        <a href="#">Город</a>
    </li>

    <li class="item">
        <a href="{{ url('velovito') }}">Помощь</a>
    </li>

    <li class="item dropdown pull-right ">

        {% if app.user %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                Личный кабинет ({{ app.user.getUserName() }})
            </a>
        {% else %}
            <a href="{{ url('login') }}">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            Вход и регистрация
            </a>
        {% endif %}


        <ul class="dropdown-menu">
            {% if not app.user %}
                <li><a href="{{ url('login') }}">Войти</a></li>
                <li><a href="{{ url('registration') }}">Регистрация</a></li>
                <li role="separator" class="divider"></li>
            {% endif %}

            <li><a href="{{ url('my_ads') }}">Мои объявления</a></li>
            <li><a href="{{ url('settings') }}">Мой профиль</a></li>
            <li><a href="{{ url('favorites') }}">Закладки</a></li>

            {% if app.user %}
                <li role="separator" class="divider"></li>
                <li><a href="{{ url('logout') }}">Выход</a></li>
            {% endif %}

        </ul>
    </li>
</ul>

<div class="col-xs-3 dropdown hidden-xs">
    <button type="button" class="col-xs-12 btn btn-default btn-md catalog-menu-button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="">Каталог</span>
    </button>

    <div class="list-group dropdown-menu unbound-list-group catalog-menu">
        {% for category in categories %}
            <a href="#" class="list-group-item unclickable-dropdown-item" data-label-for="menu_{{ category.id }}">
                {{ category.name }}
            </a>

            {% if category.products is not empty %}
                <div class="list-group catalog-submenu unbound-list-group display-none" id="menu_{{ category.id }}">
                    <a href="{{ url('view_category', {'id': category.id}) }}" class="list-group-item">Перейти в
                        раздел {{ category.name }}</a>

                    {% for product in category.products %}
                        <a href="{{ url('view_category', {'id': category.id}) }}"
                           class="list-group-item">{{ product.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">

        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Поиск!</button>
        </span>
    </div>
</div>

<div class="col-lg-3">
    <a href="{{ url('advert_new') }}" class="col-xs-12 btn btn-default btn-md">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="">Добавить объявление</span>
    </a>
</div>
