{{ include('@Velovito/loft.html.twig') }}

<div class="col-md-3 col-xs-4 dropdown hidden-xs">
    <button type="button" class="col-xs-12 btn btn-default btn-md catalog-menu-button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="">Каталог</span>
    </button>

    <div class="list-group dropdown-menu unbound-list-group catalog-menu">
        {% for category in categories %}
            <a href="#" class="list-group-item unclickable-dropdown-item" data-label-for="menu_{{ category.id }}">
                {{ category.name }}
            </a>

            {% if category.products is not empty %}
                <div class="list-group catalog-submenu unbound-list-group display-none" id="menu_{{ category.id }}">
                    <a href="{{ url('adverts_search', {'category_id': category.id}) }}" class="list-group-item">
                        <span class="glyphicon glyphicon-folder-close pull-right"></span>
                        Перейти в раздел <b>{{ category.name }}</b>
                    </a>

                    {% for product in category.products %}
                        <a href="{{ url('adverts_search', {'product_id': product.id}) }}"
                           class="list-group-item">{{ product.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="col-md-6 col-xs-4">
    <form action="{{ url('adverts_search') }}" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="search">

            <span class="input-group-btn">
                <input type="submit"  class="btn btn-default" value="Поиск">
            {#<button class="btn btn-default" type="button">Поиск!</button>#}
            </span>
        </div>
    </form>
</div>

<div class="col-md-3 col-xs-4">
    <a href="{{ url('advert_new') }}" class="col-xs-12 btn btn-default btn-md">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="">Добавить объявление</span>
    </a>
</div>
