<div class="sidebar-navigation">
    {% for category in menu %}
        <div class="category">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{ category.getName() }}

            {% if category.getCatalogItems() is not empty %}
                <div class="itemlist">
                    <div class="category-holder">
                        <a href="{{ url('homepage') }}">Перейти в {{ category.getName() }}</a>
                    </div>

                    {% for item in  category.getCatalogItems() %}
                        <div class="category-item">
                            <a href="{{ url('homepage') }}">
                                {{ item.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endfor %}
</div>