<!DOCTYPE html>
<html>
<head>
    <title> admin </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <script src="{{ asset('js/angular/angular.js') }}"></script>
    <script src="{{ asset('js/angular/angular-route.js') }}"></script>
    <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
    <script src="{{ asset('js/spinner.js') }}"></script>
    <script src="{{ asset('js/admin-js/controllers.js') }}"></script>
</head>

<body>

<div class="container" ng-app="myApp">
    <ng-include src="'header.html'"></ng-include>

    <ng-view></ng-view>


    {% include('@Velovito/admin/ng-templates.html.twig') %}
</div>
</body>

</html>
