{% extends 'VelovitoBundle::layout_admin.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    {% include '@Velovito/templates/alert.html.twig' %}
    <div>
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ave, Admin!</h1>
    </div>

    <div>
        <div><a href="{{ url('admin_dashBoard') }}">Home</a></div>

        <article>Списки</article>
        {{ form_start(form) }}
        <div>
            {{ form_widget(form.title) }}
            {{ form_widget(form.comment) }}
            {{ form_widget(form.active) }}
            {{ form_widget(form.save) }}
        </div>

        <div>
            {{ form_widget(form.item_name) }}
            {{ form_widget(form.add) }}
        </div>
        {{ form_end(form) }}

        <table width="100%">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>reference_id</th>
                <th>status</th>
                <th>toggle</th>
            </tr>

            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }} </td>
                    <td>{{ item.reference.id }} </td>

                    <td>
                        {% if item.isActive %}
                            Active
                        {% else %}
                            Off
                        {% endif %}
                    </td>


                    <td>
                        {% if item.isActive %}
                            <a class="glyphicon glyphicon-remove ajax_link"
                               href="{{ url('admin_toggle_reference_item', {'id': item.id, 'action': 0}) }}">

                            </a>
                        {% else %}
                            <a class="glyphicon glyphicon-play ajax_link"
                               href="{{ url('admin_toggle_reference_item', {'id': item.id, 'action': 1}) }}">

                            </a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>

    <script type="text/javascript">
        var $links = $('a.ajax_link') ;


    </script>
{% endblock %}