{% extends 'VelovitoBundle::no_menu.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    {% include '@Velovito/templates/alert.html.twig' %}
    <div>
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ave, Admin!</h1>
    </div>

    <div>
        <article>Товары</article>
        {{ form_start(form) }}
        {{ form_end(form) }}

        <table width="100%">
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>

            {% for category in categories %}
                {% set url = url('admin_edit_category', {'id': category.id}) %}
                <tr>
                    <td><a href="{{ url }}">{{ category.id }}</a></td>
                    <td><a href="{{ url }}">{{ category.name }} </a></td>
                </tr>

            {% endfor %}
        </table>
    </div>


{% endblock %}