{% extends 'VelovitoBundle::layout_admin.html.twig' %}
{% import '@Velovito/templates/macroses.html.twig' as macro %}

{% block body %}
    {% include '@Velovito/templates/alert.html.twig' %}
    <div>
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Ave, Admin!</h1>
    </div>

    <div>
        <div><a href="{{ url('admin_dashBoard') }}">Home</a></div>

        <article>Товары</article>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <table width="100%">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>category</th>
            </tr>
            {% for product in products %}
                {% set url = url('admin_edit_product', {'id': product.id}) %}
                <tr>
                    <td><a href="{{ url }}">{{ product.id }}</a></td>
                    <td><a href="{{ url }}">{{ product.name }} </a></td>
                    <td><a href="{{ url }}">{{ product.category.getName() }}</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>


{% endblock %}