{% extends "VelovitoBundle::layout_blank.html.twig" %}

{% block body %}
    {% include 'VelovitoBundle:templates:alert.html.twig' %}

    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
        <div class="text-center">
            <h3>АВТОРИЗАЦИЯ</h3>
        </div>

        <form action="{{ url('login_check') }}" method="POST">
            <div class="island island-default">
                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="text" class="form-control" id="username"
                           name="_username" value="{{ last_username }}"
                           placeholder="Адрес электронной почты" required style="margin-bottom: 10px"/>
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password"
                           name="_password" placeholder="Пароль" required style="margin-bottom: 10px"/>

                    <a href="{{ url('restore_password') }}" class="pull-right">Забыли пароль?</a>
                    <button type="submit" class="btn btn-primary form-control">Войти</button>

                    <hr>

                    <a href="{{ vk_auth_link }}" class="btn btn-primary form-control">Вход через VK </a>

                    <hr>

                    <div style="text-align: center">
                        <label>
                            Ещё не зарегистрированы?

                            <a href="{{ url('registration') }}">Регистрация</a>
                        </label>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}