{% extends "VelovitoBundle::layout_blank.html.twig" %}
{% import 'VelovitoBundle:templates:macroses.html.twig' as macroses %}

{% block body %}
    {% include 'VelovitoBundle:templates:alert.html.twig' %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Регистрация</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div id="register-form" class="col-md-12">
                            {{ form_start(form) }}
                            {{ macroses.bootstrapFormInput(form.username) }}
                            {{ macroses.bootstrapFormInput(form.email) }}
                            {{ macroses.bootstrapFormInput(form.password) }}
                            {{ macroses.bootstrapFormInputNoLabel(form.confirm_password) }}
                            {{ form_widget(form.submit, {'attr':{'class' : 'hidden' }}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="submit_replica">Отправить</button>
                </div>
            </div>
        </div>
    </div> <!-- modal end-->

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <div class="text-center">
                <h3>РЕГИСТРАЦИЯ</h3>
            </div>

            <div class="island island-default">
                <a href="{{ vk_auth_link }}" class="btn btn-primary form-control">Регистрация через Вконтакте</a>

                <hr>

                <a class="btn btn-default form-control" type="button" id="show-register-form" data-toggle="modal"
                   data-target="#myModal">
                    Регистрация через @-mail
                </a>

                <hr>

                <div class="text-center">
                    <label>
                        Уже зарегистрированы?

                        <a class="" href="{{ url('login') }}">
                            Войти
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/vk_api.js') }}"></script>
    <script>
        $(function () {
            $('#submit_replica').on('click', function () {
                $('#register_form_submit').click();
            });

            $("form").validate({
                rules: {
                    'register_form[username]': {
                        required: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    'register_form[email]': {
                        required: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    'register_form[password]': {
                        required: true,
                        minlength: 8,
                        maxlength: 16
                    },
                    'register_form[confirm_password]': {
                        required: true,
                        minlength: 8,
                        maxlength: 16,
                        equalTo: "#register_form_password"
                    }
                },
                messages: {
                    'register_form[username]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 3 символа",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[email': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 3 символа",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[password]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 8 символов",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[confirm_password]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 8 символов",
                        maxlength: "Максимальная длина 128 символов",
                        equalTo: "Пароли должны совпадать",
                    }
                },
//                errorPlacement: function (error, element) {
//                    console.log('error '+$(element).attr('id'));
//                    var parent = element.parent();
//                    parent.addClass('has-error');
//                    parent
//                            .find('span.glyphicon')
//                            .removeClass('hide')
//                            .addClass('glyphicon-remove')
//                            .removeClass('glyphicon-ok');
//                },
//                success: function (element) {
//                    console.log('success '+$(element).attr('id'));
//                    var parent = element.parent();
//                    parent.removeClass('has-error');
//                    parent
//                            .find('span.glyphicon')
//                            .removeClass('hide')
//                            .removeClass('glyphicon-remove')
//                            .addClass('glyphicon-ok');
//                },
//                highlight: function (element, errorClass) {
//                    console.log('highlight '+$(element).attr('id'));
//                    $(element).parents('.textfield').addClass('wrong');
//                    $(element).parents('.field_item').find('div.smileyes').addClass('hide');
//                    $(element).parents('.field_item').find('div.smileno').removeClass('bluenote').removeClass('hide');
//                }
            });
        });

        function callbackFunc(result) {
            console.log(result);
        }

        var api = new vkApi();
    </script>
{% endblock %}