{% extends "VelovitoBundle::base.html.twig" %}
{% import 'VelovitoBundle:templates:macroses.html.twig' as macroses %}

{% block body %}
    {% include 'VelovitoBundle:templates:alert.html.twig' %}
    <script src="{{ asset('js/vk_api.js') }}"></script>

    <div class="col-md-4">
        {{ form_start(form) }}
        {{ macroses.bootstrapFormInput(form.username) }}
        {{ macroses.bootstrapFormInput(form.email) }}
        {{ macroses.bootstrapFormInput(form.password) }}
        {{ macroses.bootstrapFormInputNoLabel(form.confirm_password) }}
        {{ form_widget(form.submit, {'attr':{'class' : 'btn-primary form-control' }}) }}
        {{ form_end(form) }}

        <a href="https://oauth.vk.com/authorize?client_id=5387412&display=page&redirect_uri=http://velovito.ru/vk_auth_token&scope=friends&response_type=code&v=5.50">Вход через VK </a>
    </div>
    <script>
        $(function () {
            $("form").validate({
                rules: {
                    'register_form[username]': {
                        required: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    'register_form[email]': {
                        required: true,
                        minlength: 3,
                        maxlength: 32
                    },
                    'register_form[password]': {
                        required: true,
                        minlength: 8,
                        maxlength: 16
                    },
                    'register_form[confirm_password]': {
                        required: true,
                        minlength: 8,
                        maxlength: 16,
                        equalTo: "#register_form_password"
                    }
                },
                messages: {
                    'register_form[username]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 3 символа",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[email': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 3 символа",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[password]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 8 символов",
                        maxlength: "Максимальная длина 128 символов"
                    },
                    'register_form[confirm_password]': {
                        required: "Обязательное поле",
                        minlength: "Минимальная длина 8 символов",
                        maxlength: "Максимальная длина 128 символов",
                        equalTo: "Пароли должны совпадать",
                    }
                },
//                errorPlacement: function (error, element) {
//                    console.log('error '+$(element).attr('id'));
//                    var parent = element.parent();
//                    parent.addClass('has-error');
//                    parent
//                            .find('span.glyphicon')
//                            .removeClass('hide')
//                            .addClass('glyphicon-remove')
//                            .removeClass('glyphicon-ok');
//                },
//                success: function (element) {
//                    console.log('success '+$(element).attr('id'));
//                    var parent = element.parent();
//                    parent.removeClass('has-error');
//                    parent
//                            .find('span.glyphicon')
//                            .removeClass('hide')
//                            .removeClass('glyphicon-remove')
//                            .addClass('glyphicon-ok');
//                },
//                highlight: function (element, errorClass) {
//                    console.log('highlight '+$(element).attr('id'));
//                    $(element).parents('.textfield').addClass('wrong');
//                    $(element).parents('.field_item').find('div.smileyes').addClass('hide');
//                    $(element).parents('.field_item').find('div.smileno').removeClass('bluenote').removeClass('hide');
//                }
            });
        });

        function callbackFunc(result) {
            console.log(result);
        }

        var api = new vkApi();
    </script>
{% endblock %}